body{
    background-image: url("../images/gradient-splash.png");
}

.content-box{
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 5%;
}

.test-box{
    border-style: solid;
    border-color: red;
    border-width: 3px;
  }