body{
    background-image: url("../images/gradient-splash.png");
}

.content-box{
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 5%;
}

.image-buffer{
    margin: 15px;
}

.contact-buffer{
    margin-bottom: 15px;
    margin-left: 10px;
}

.test-box{
    border-style: solid;
    border-color: red;
    border-width: 3px;
  }