body{
    background-image: url("../images/gradient-splash.png");
}

.content-box{
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 5%;
}

.project-card{
    margin: 15px 0;
    width: 18rem
}

.contact-buffer{
    margin-bottom: 15px;
    margin-left: 10px;
}

.float-box{
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color:  rgb(25, 30, 50);
    border-width: 5px 0px 0px 0px;
    border-style: solid;
    border-color: green;
}

.footer-content{
    text-align: center;
    color:white;
    font-size: 150%;
}

.contact-link{
    color:white;
    font-size: 120%;
    margin: 0px 8px;

}
.contact-link:hover{
    color:greenyellow;
}